@import "tailwindcss";

@theme {
  --color-on-secondary: #ffffff;
  --color-surface-container-low: #f4f4eb;
  --color-on-tertiary: #ffffff;
  --color-on-primary-fixed-variant: #2b4d44;
  --color-secondary-fixed: #f9e536;
  --color-outline: #717976;
  --color-background: #fafaf1;
  --color-surface-tint: #43655c;
  --color-on-secondary-fixed-variant: #4f4800;
  --color-tertiary: #0d2610;
  --color-primary-fixed: #c5eadf;
  --color-on-tertiary-fixed-variant: #334d34;
  --color-inverse-primary: #aacec3;
  --color-inverse-on-surface: #f1f1e8;
  --color-on-secondary-container: #6e6400;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-highest: #e3e3da;
  --color-surface: #fafaf1;
  --color-on-tertiary-container: #8aa788;
  --color-outline-variant: #c1c8c4;
  --color-on-primary-fixed: #00201a;
  --color-tertiary-fixed-dim: #b0ceae;
  --color-surface-dim: #dadbd2;
  --color-on-secondary-fixed: #201c00;
  --color-primary-container: #1a3c34;
  --color-on-error: #ffffff;
  --color-on-tertiary-fixed: #07200b;
  --color-secondary-fixed-dim: #dbc90d;
  --color-error-container: #ffdad6;
  --color-surface-container-high: #e8e9e0;
  --color-tertiary-fixed: #ccebc8;
  --color-secondary-container: #f6e232;
  --color-inverse-surface: #2f312b;
  --color-primary: #01261f;
  --color-surface-container: #eeeee6;
  --color-surface-bright: #fafaf1;
  --color-on-surface: #1a1c17;
  --color-tertiary-container: #233c24;
  --color-on-primary: #ffffff;
  --color-error: #ba1a1a;
  --color-secondary: #695f00;
  --color-surface-variant: #e3e3da;
  --color-on-surface-variant: #414846;
  --color-primary-fixed-dim: #aacec3;
  --color-on-background: #1a1c17;
  --color-on-primary-container: #83a69c;
  --color-on-error-container: #93000a;

  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-label: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    min-height: max(884px, 100dvh);
  }
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 1;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.organic-line {
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at 50% 50%, rgba(1, 38, 31, 0.03) 0%, transparent 60%);
  top: -50%;
  left: -50%;
  pointer-events: none;
  z-index: 0;
}
.text-velvet {
  background: linear-gradient(135deg, #01261f 0%, #1a3c34 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-velvet {
  background: linear-gradient(135deg, #01261f 0%, #1a3c34 100%);
}
.ambient-shadow {
  box-shadow: 0 20px 40px -10px rgba(26, 28, 23, 0.06);
}
